.mat-card {
    background-color: #f1f1f1;
    height: 302px;
    border-radius: 15px;
    border: 0px;
    box-shadow: none;
}

.UrlIconaMeteo{
    height: 500px;
    width: 500px;
}
.card-title {color:#2A2A2A;
    font-size: 35px;
    font-family:'Poppins',sans-serif;
    text-align: center;
}
.img {
    width: 48%;
    margin-bottom: 10px;
    
}