<div class="row">
    <div class="col-8">
        <mat-card>

            <h1 class="card-title">
            Monitoraggio settimanale
            </h1>
            <div class="row">

                <div class="card col-11;element.text-align:center">
                    <p-chart style="border: 0px !important;" height="220px" type="line" [data]="data"
                        [options]="options"></p-chart>
                </div>
            </div>
        </mat-card>

    </div>

    <div class=" col-4">
        <mat-card>
            <h1 class="card-title">
            Meteo
            </h1>
            <div style="text-align: center;">
                <img [src]="urlIconaMeteo" alt="">
                <h2>{{efficienzaSolare}}</h2>
            </div>
        </mat-card>

    </div>
</div>