<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap" rel="stylesheet">
<div class="hero">
    <div class="hero-content">
        <img src="../../../assets/images/35783239_8311663.png" alt="">
    <div class="hero-text">
        <img src="../../../assets/images/icon2.png" alt="">
        <h2>Green energy for future</h2>
        <p>Le comunità energetiche possono diventare una vera e propria realtà, anche in Italia. Una realtà sempre più 
        necessaria per accedere al consumo di energia proveniente da fonti rinnovabili.</p>
    <div class="hero-button">
        <button mat-stroked-button color="Primary">Scopri di più!</button>
</div>


