<div class="container">
    <div class="title">
        <h2>Bolletta</h2>
    </div>
    <div class="bolletta">
        <table>
            <tr>
                <th>Mese</th>
                <th>Costo</th>
                <th>Consumo</th>
                <th>Risparmio</th>
            </tr>
            <tr>
                <td>Dicembre</td>
                <td>500</td>
                <td>500kW</td>
                <td>124</td>
            </tr>
            <tr>
                <td>Gennaio</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Febbraio</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Marzo</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Aprile</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Maggio</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
    <div class="button">
        <button mat-stroked-button color="#FFFFF">Paga</button>
        <button mat-stroked-button color="#FFFFF">Scarica</button>
    </div>
</div>