:host {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
  }
.mat-card mat-form-field {
    width: 100%;
}
.mat-card mat-icon{
    font-size: 140%;
    line-height: 0.8;
}
.mat-card {
    margin-top: 35px;
    width: 500px;
    height: 624px;
    margin-bottom: 35px;
    padding: 50px;
}
.mat-card-content{
    font-size: 22px;

}
.mat-card-content img{
    width: 60%;
}
.button-row button{
    margin-bottom: 45px;
    font-size: 26px;
    width: 100%;
    height: 40px;
    background-color:#50BFBB;
    color: #f9f9f9;
}