
.terza-sezione-home {
    margin-top: 30px;
    margin-right: 10px;
    margin-left: 10px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 19px;
    line-height: 1.1;
    color: #2a2a2a;
}
