<h2 class="terza-sezione-home"> Cos'è una comunità energetica?</h2>
<p class="terza-sezione-home">Una Comunità Energetica è un'associazione che produce e condivide energia rinnovabile e pulita, per generare e gestire
 energia verde a costi vantaggiosi, riducendo le emissioni di CO2 e lo spreco energetico.</p>
 <h2 class="terza-sezione-home"> Come creare una Comunità Energetica </h2>
 <p class="terza-sezione-home">Individua l'area dove vuoi installare l'impianto di produzione, che deve
    essere in prossimità dei consumatori. I terreni industriali in disuso sono particolarmente
    indicati. L'impianto, fotovoltaico con accumulo, non deve necessariamente essere di proprietà
    della Comunità, ma può anche essere messo a disposizione da un soggetto terzo.</p>
    <h2 class="terza-sezione-home"> Come ottenere gli incentivi</h2>
    <p class="terza-sezione-home"> Quando l'impianto è in esercizio, la Comunità può fare richiesta al Gestore dei Servizi
        Energetici per ottenere gli incentivi previsti dalla legge per l'energia condivisa.
        La Direttiva UE, detta RED II, prevede il sostegno finanziario alla produzione e
        l'autoconsumo di energia elettrica da fonti rinnovabili. <br>
        <a href="https://temi.camera.it/leg18/post/i-principali-contenuti-della-direttiva-red-ii.html">Link alla normativa europea</a><br>
<a href="https://www.gazzettaufficiale.it/eli/id/2020/02/29/20A01353/sg"> Link alla normativa italiana</a> </p>


