
.terza-sezione-home {
    margin-top: 30px;
    margin-right: 10px;
    margin-left: 10px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 18px;
    line-height: 1.2;
    color: #7b7f81;
}
