:host {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
  }
.mat-card mat-form-field {
    width: 100%;
}
.mat-card {
    margin-top: 35px;
    width: 500px;
    height: 820px;
    margin-bottom: 35px;
}
.mat-card mat-icon{
    font-size: 110%;
    line-height: 0.9;}

.mat-card-content{
    font-size: 22px;
    line-height: 2;
}
.mat-card-content img{
    width: 60%;
}
.button-row button{
    margin-bottom: 45px;
    font-size: 24px;
    width: 100%;
    background-color:#50BFBB;
    color:white;
}